<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Technical Stacks</h2>
      <p>With the nature of curiosity towards new technologies I have managed to acquire
        knowledge in several areas such as Cloud, DevOps etc. Below are the proof of my knowledge accomplishment.</p>
    </div>

    <owl-carousel class="tech-stack-owl-carousel" style="width: 100%;" [options]="SlideOptions" [items]="techStackLogos"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="row no-gutters" *ngFor="let techStackLogo of techStackLogos">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="tech-logos">
            <img class="tech-logos-img" src="{{techStackLogo.img}}" title="{{techStackLogo.title}}" />
          </div>
        </div>
      </div>
    </owl-carousel>

    <div class="row">
      <app-sticky-note [data]="stickyNoteData"></app-sticky-note>
    </div>

  </div>
</section><!-- End Services Section -->