<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Knowledge & Experience</h2>
      <p style="text-align: justify;">Accomplished master's degree in England with a successful track record in my final year project. Innovative and
        deadline-driven Software Engineer with
        {{ experienceDuration.numYears }}{{ (experienceDuration.numMonths > 0 || experienceDuration.numDays ? '+'
        : '') }} years
        of experience managing all aspects of the development process for small to medium-sized projects, polished
        deliverable.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Master of Computing</h4>
          <h5>2010 - 2012</h5>
          <p><em>Birmingham, England, UK</em></p>
          <p class="description">A professional computing course cover a number of advanced computing topics in computer science, namely,
            ontological engineering, service-oriented design, database design, data engineering, and mobile-application
            development </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item no-title">
          <h4>BSc Maths with Computer Application</h4>
          <h5>2006 - 2009</h5>
          <p><em>Hindusthan College of Arts and Science, Coimbatore, India</em></p>
          <p class="description">During this course I got an opportunity to learn fundamental statistical and mathematical knowledge,
            complex computer systems and theories, logical thinking, professionalism and research skills. This major
            also involves
            Applied Mathematics, Pure Mathematics, Statistics, C++ and relational database.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior .Net Engineer I</h4>
          <h5>June 2019 - Present</h5>
          <p><em>Ørsted Services Sdn Bhd, Kuala Lumpur, Malaysia </em></p>
          <ul>
            <li>Part of Agile Release Train (ART)</li>
            <li>Implemented docker containerization, Kubernetes container-orchestration and CI/CD pipelines.</li>
            <li>Actively working with Azure and azure services.</li>
            <li>Involved in technical architect discussion and handling spikes.</li>
          </ul>
        </div>
        
        <div class="resume-item">
          <h4>Senior Engineer</h4>
          <h5>September 2016 - February 2018</h5>
          <p><em>Harman International Pvt Ltd, Coimbatore, India</em></p>
          <ul>
            <li>Determined project specifications by thoroughly studying performance standards, requirements, and technical studies.</li>
            <li>Worked in Microsoft Azure cloud architecture like PaaS and IaaS.</li>
            <li>Implemented Service bus queues and Azure storage queues to handle background task in worker roles.</li>
            <li>Involved in migrating web API from app services to Service fabric containers.</li>
          </ul>
        </div>
        
        <div class="resume-item">
          <h4>Software Developer</h4>
          <h5>August 2013 - September 2014</h5>
          <p><em>Logic Genie SofTech Pvt Ltd, Coimbatore, India</em></p>
          <ul>
            <li>Involved in redesign of the web application from scratch using AngularJs, C#.Net, Asp.Net MVC, Web API.</li>
            <li>Designed intuitive graphical user interfaces using knowledge of serial communications and database design.</li>
            <li>Developed a knowledge base pages using XSLT.</li>
            <li>Developed code fixes and enhancements for inclusion in future code releases and patches.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item no-title">
          <h4>Senior Consultant</h4>
          <h5>March 2018 - April 2019</h5>
          <p><em>Kris InfoTech Sdn Bhd, Kuala Lumpur, Malaysia</em></p>
          <ul>
            <li>Troubleshoot and fixed problems through customer requests, and QA.</li>
            <li>Involved in managing and creating Rest API using .Net Core 2.0.</li>
            <li>Implemented Singleton, Adapter and Abstract factory design pattern.</li>
            <li>Involved in code reviews and code refactoring.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Programmer Analyst</h4>
          <h5>November 2014 - August 2016</h5>
          <p><em>Cognizant Technology Solutions, Coimbatore, India</em></p>
          <ul>
            <li>Worked in team-driven environments and had a professional communication with all the stakeholders.</li>
            <li>Participated in design sessions with clients to ascertain all project specifications for applications, databases and systems.</li>
            <li>Proposed technical feasibility solutions for new functional designs and suggested options for performance improvement of technical objects.</li>
            <li>Provided continued maintenance and development of bug fixes and patch sets for existing web applications.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->