<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>
        While we are good with smoke signals, there are simpler ways to get in touch. Please use one of the option below
        to chat, to laugh, to get guidance, to give feedback etc...
      </p>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="icofont icofont-google-map"></i>
            <h4>Location:</h4>
            <p>Jalan Sri Hartamas 1, Sri Hartamas 50480, Kuala Lumpur, Malaysia</p>
          </div>

          <div class="email">
            <i class="icofont icofont-envelope"></i>
            <h4>Email:</h4>
            <p>gks27chandru@gmail.com</p>
          </div>

          <div class="phone">
            <i class="icofont icofont-phone"></i>
            <h4>Call:</h4>
            <p>+60 186689615</p>
          </div>

          <div class="phone">
            <i class="icofont icofont-whatsapp"></i>
            <h4>Whatsapp:</h4>
            <p>+91 8489911477</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d166517.95579819972!2d101.67356740429473!3d3.1674359421872693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49d3e30988d7%3A0x464a4b7fda23c09a!2sKuala%20Lumpur%20City%20Centre%2C%20Kuala%20Lumpur%2C%20Federal%20Territory%20of%20Kuala%20Lumpur%2C%20Malaysia!5e0!3m2!1sen!2sus!4v1612784738895!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <div class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control form-name" onkeyup="removeValidation(id)" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control form-email" onkeyup="removeValidation(id)" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control form-subject" onkeyup="removeValidation(id)" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control form-message" name="message" id="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="button" onclick="SendEmail()">Send Message</button></div>
          <div class="quotes end-quotes">
            "The future belongs to those who believe in the beauty of their dreams."
            <span class="author"> -- Eleanor Roosevelt</span>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->