<div class="example-sidenav-content">
  <p><mat-icon class="icon-custom-sizing" (click)="toggleMenu()" >menu</mat-icon>
  
</div>

<mat-sidenav-container class="example-container" autosize>  
  <mat-sidenav #sidenav class="sidenav-links" mode="side" [opened]="showMenu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>
