<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Certificates</h2>
      <p class="quotes">
        The key to pursuing excellence is to embrace an organic, long-term learning process, and not to live in a shell
        of static, safe mediocrity. Usually, growth comes at the expense of previous comfort or safety.
        <span class="author">-- Josh Waitzkin</span>
      </p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-ms">Microsoft</li>
          <li data-filter=".filter-scrum">Scrum</li>
          <li data-filter=".filter-course">Courses</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-course" 
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/Certificates/MS_Azure_Dev_Associate_Course.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ms" data-aos="flip-down" data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/Certificates/MS_Azure_Dev_Associate.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="https://www.youracclaim.com/badges/c3b1b46e-7429-4fe9-ba1c-a05ba289341c/public_url" target="_blank"
              title="Verify"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-course" 
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/Certificates/MS_Azure_DevOps_Course.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ms" 
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/Certificates/MS_Azure_Dev_Ops.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="https://www.youracclaim.com/badges/2b294ee3-5ca6-456b-8a32-c648181d6e93/public_url" target="_blank"
              title="Verify"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-scrum" 
      data-aos="flip-down"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/Certificates/Scrum_Developer.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="https://www.scrum.org/certificates/435792" target="_blank" title="Verify"><i
                class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->